@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @apply bg-stone-50 !important;
}

body {
  @apply text-slate-900 !important;
  @apply bg-slate-50 !important;
}

.input,
input,
textarea,
select {
  @apply bg-slate-50 !important;
}


input[type="radio"] {
  appearance: none;
  /* Remove native styling */
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  /* Custom border */
  border-radius: 50%;
  /* Make it a circle */
  background-color: white;
  /* Set background to white */
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

/* Custom checked state */
input[type="radio"]:checked {
  @apply bg-primary;
  /* Background when checked */
  border-color: #ccc;
  /* Border color when checked */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus,
textarea:focus {
  outline: none;
}

.RichEditor-root {
  background: #fffcfc;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #802081;
  border: 1px solid #802081;
  padding: 1px;
  border-radius: 5px;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-sm;
}

p {
  @apply text-justify;
}

.slick-next,
.slick-prev {
  opacity: 0;
  transition: opacity 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slider-container:hover .slick-next,
.slider-container:hover .slick-prev {
  opacity: 1;
}

@media screen and (max-width: 640px) {

  .slick-next,
  .slick-prev {
    visibility: hidden;
  }
}